$primary: #ec268f;
$secondary: #90278e;
$success: #1ded67;
$info: #2d97d3;
$warning: #e5e523;
$danger: #f4a414;
$dark: #111111;
$enable-responsive-font-sizes: true;

@import 'bootstrap/scss/bootstrap';

img.content-image {
  max-height: 50vh;
  margin: auto;
  display: block;
}

.intro-carousel {
  background-color: #330a5c;

  .carousel-control-next,
  .carousel-control-prev {
      filter: none;
  }

  .carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    top: 0;
    left: 15%;
    right: 15%;
    font-size: 150%;
    font-family: 'Bebas Neue', serif;
  }

  img {
    filter: grayscale(100%) opacity(20%);
    max-height: 80vh;
    min-height: 40vh;
    object-fit: cover;
    object-position: 0 100%;
  }

}

.important-section-icon {
  transition-property: transform;
  transition-duration: 0.3s;
}

.important-section-icon:hover {
  transform: scale(1.1) rotate(8deg);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

h1, h2, h3, h4, .navbar-nav {
  font-family: 'Ubuntu', serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.section-header {
  margin-bottom: 3em;
  text-align: center;
  padding: 2em 1em;
  background: #90278e;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    filter: grayscale(100%) opacity(20%);
    max-height: 80vh;
    min-height: 40vh;
    object-fit: cover;
    object-position: 0 100%;
  }
}

.detail-header {
  border-left: 3px solid $secondary;
  padding: 1rem 0 1rem 2rem;

  a {
    color: $secondary;
    font-family: 'Ubuntu', serif;
  }
}

.footer-icon {
  font-size: 80%;
}

.footer-line {
  border-top: 1px solid $gray-600;
}
