$primary: #ec268f;
$secondary: #e5e523;
$success: #1ded67;
$info: #2d97d3;
$warning: #e5e523;
$danger: #f4a414;
$enable-responsive-font-sizes: true;

@import 'bootstrap/scss/bootstrap';

img.content-image {
  max-height: 50vh;
  margin: auto;
  display: block;
}

.intro-carousel {
  background-color: #330a5c;

  .carousel-control-next,
  .carousel-control-prev {
      filter: none;
  }

  .carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    top: 0;
    left: 15%;
    right: 15%;
    font-size: 150%;
    font-family: 'Bebas Neue', serif;
  }

  img {
    filter: grayscale(100%) opacity(20%);
    max-height: 80vh;
    min-height: 40vh;
    object-fit: cover;
    object-position: 0 100%;
  }

}

.important-section-icon {
  transition-property: transform;
  transition-duration: 0.3s;
}

.important-section-icon:hover {
  transform: scale(1.1) rotate(8deg);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.header-text{
  font-family: 'Dosis', serif;
  //font-weight: bolder;
  text-transform: uppercase;
}
